.button_theme_dark {
    border-color: $color-accent-dark;

    &:hover {
        background-color: $color-accent-dark;
    }
    .button-round__img {
        fill: $color-accent-dark;
    }
    &:hover .button-round__img {
        fill: $color-text-light;
    }
}
