.hero {
    position: relative;
   
    min-height: 100vh;
    // padding-top: 205px;
    
    background-image: url(/images/baner.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    box-sizing: border-box;
}
.hero__image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70%;
    width: 40vw;
    
}
